In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

sdata ={'Ohio':35000, 'Texas':71000, 'Oregon':16000,'Utah':5000}
obj3 = Series(sdata)
obj3
states = ['California','Ohio','Texas','Oregon']
obj4 = Series(sdata, index=states)
obj4
pd.isnull(obj4)
pd.notnull(obj4)
obj4.isnull()
obj4 + obj3
obj4.name = 'population'
obj4.index.name = 'state'
obj4
obj4.index = ['Bob','Steve','Jeff','Ryan']
obj4.index.name = 'name'
obj4


#---------------------DataFrame-----------------
data = {
    'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
    'year':[2000,2001,2002,2003,2004],
    'pop':[1.5,1.7,3.6,2.4,2.9]
}
frame = DataFrame(data)
frame
DataFrame(data,columns=['year','state','pop'])
frame2 =  DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five']
                    )
frame2
frame2.columns
frame2.year
frame2._ixs(0,axis=0) #----0纵1横，（取纵坐标索引）
frame2['debt'] = 16.5
frame2
frame2['debt'] = np.arange(5,10)
frame2
frame2['eastern'] = frame2.state == 'Ohio'
series = frame2.state == 'Ohio'
series
frame2.values


#----------------reindex--------------
obj3 = Series(['blue','purple','yellow'],index=[0,2,4])
obj3.reindex(range(6),method='ffill')
obj3.reindex(range(6),method='bfill')


#------------pandas的算术运算和数据对齐-------------
df1 = DataFrame(np.arange(0,12).reshape((3,4)),columns=list('abcd'))
df2 = DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))
df1
df2
df1 + df2
df1.add(df2, fill_value = 0)


#-------------DataFrame与Series之间的运算--------------
arr = np.arange(12).reshape(3,4)
arr[0]
arr - arr[0]

frame = DataFrame(np.arange(12).reshape(4,3),columns=list('bde'),index=['Utah',
                                                                        'Ohio',
                                                                        'Texas',
                                                                        'Oregon'])
frame
series = frame._ixs(0,axis=0)
series
frame - series
series2 = Series(range(3),index=list('bef'))
series2
frame + series2
series3 = frame['d']
series3
frame.sub(series3, axis = 0)


#-------------------函数的应用与映射----------------
frame = DataFrame(np.random.randn(4,3),columns=list('bde'),index=['Utah',
                                                                        'Ohio',
                                                                        'Texas',
                                                                        'Oregon'])
frame
np.fabs(frame)
f = lambda x:x.max() - x.min()
frame.apply(f)
frame.apply(f,axis=1)
def f(x):
    return Series([x.min(),x.max()],index=['min','max'])
frame.apply(f)
frame.apply(f,axis=1)
format = lambda x:'%.2f' %x
frame.applymap(lambda x: '%.2f' %x)
frame.applymap(format)
frame.e.map(format)



#-----------------排序和排名----------------
obj = Series(range(4),index=list('dabc'))
obj.sort_index()
frame = DataFrame(np.arange(8).reshape((2,4)),columns=list('dabc'),index=['three',
                                                                        'one'])
frame
frame.sort_index()
frame.sort_index(axis=1)
frame.sort_index(axis=1,ascending=False)
obj
obj = Series([4,7,-3,2])
obj.sort_values()  #--书中是obj.order()但是我没找到
frame
frame.sort_values(by=['a'],ascending=False)


#---------------汇总和计算描述------------
frame.sum()
frame.describe()

              d         a         b         c
count  2.000000  2.000000  2.000000  2.000000
mean   2.000000  3.000000  4.000000  5.000000
std    2.828427  2.828427  2.828427  2.828427
min    0.000000  1.000000  2.000000  3.000000
25%    1.000000  2.000000  3.000000  4.000000
50%    2.000000  3.000000  4.000000  5.000000
75%    3.000000  4.000000  5.000000  6.000000
max    4.000000  5.000000  6.000000  7.000000